<form method="POST" action="https://api.staticman.net/v3/entry/mounta11n/comment/master/comments">
  <input name="options[redirect]" type="hidden" value="https://deine-domain.de">
  <input name="fields[name]" type="text" placeholder="Name">
  <input name="fields[email]" type="email" placeholder="Email">
  <textarea name="fields[message]" placeholder="Kommentar"></textarea>
  <button type="submit">Senden</button>
</form>